.App {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

:root {
  --backgroundColour: #011627;
  /* --textColour: #F6F1D1;
  --headingColour:  #AF5B5B; */
  /* --backgroundColour: #02182b;*/
  --textColour: #FFB5C2;
  --headingColour: #8aea92; 
}

.carousel{
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icons{
display: flex;
flex-direction: column;
gap: 10px;
}

.Linkedin-icon, .Github-icon{
  width: 30px;
  height: 30px;
}
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.carousel-item-image{
  width: 250px;
height:200px;
  padding: 0 20px 0 20px;
  
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  background-color: #3777FF;
}

.carousel-item-text{
  fint-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20p;
  white-space: normal;

}

.carousel-buttons{
  display: flex; 
  justify-content: space-evenly;
  flex-direction: row;
}

.button-arrows{
  background: none;
  color: var(--textColour);
  border: none;
  cursor: pointer;
  margin-top: 20px;

}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border:none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
  
}
.indicator-symbol {
  color: gray;
}

.indicator-symbol-active {
  color: var(--textColour);
}

.NavBar{
  position: sticky;
  top:0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;

margin-right: 30px;
}
.sectionHeading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--headingColour);
}
.sectionsubHeading {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--headingColour);
}

.sectionList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

ul li a {
  text-decoration: none;
  color: var(--headingColour);
  font-size: 1.5rem;
  font-weight: 600;
}

#projects, #skills, #contact {
  margin: 0 auto
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
  background-color:var(--backgroundColour);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--textColour);
}

.name{
  font-size: 2rem;
  font-weight: 800;
  color: var(--headingColour)
}

.jobTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--textColour);
}

.myImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.totalHomeSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  gap: 20px;
}

.aboutPara{
  max-width: 500px;
  margin: 0 auto;
}