.App {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100vw;
  /* width=100% */
  /* media query for desktop to lower width and centralised margin auto
beware of navbar so its not pulled into centralised settings.
specific widths for icons ok not for divs*/
}

html {
  scroll-behavior: smooth;
}

:root {
  --backgroundColour: #011627;
  /* --textColour: #F6F1D1;
  --headingColour:  #AF5B5B; */
  /* --backgroundColour: #02182b;*/
  --textColour1: #ffb5c2;
  --textColour2: #38aecc;
  --textColour3: #ffffff;
  --headingColour: #8aea91;
}

.about-total {
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  margin: 0 auto;
  gap: 5px;
  align-items: center;
}
.skillsGrid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 60px;
  row-gap: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

@media screen and (min-width: 650px) {
  .skillsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .skillsGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.individualSkills {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font-size: 1rem;
  padding: 15px;
}

.skill {
  text-align: center;

}
.skillsIcon {
  height: 50px;
  align-self: center;
}

.writing {
  text-align: center;
}
.carousel {
  overflow: hidden;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* @media screen and (min-width: 700px) {
    width: 75%;
  } */
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Linkedin-icon,
.Github-icon,
.mail-icon {
  width: 30px;
  height: 30px;
}
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.carousel-item-image {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  object-fit: fill;
  align-self: center;
}

.carousel-item-title {
  color: var(--backgroundColour);
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.carousel-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  width: 100%;
  background-color: #ffb5c2;
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 20px;
  gap: 15px;

}

.carousel-item-xtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  /* background-color:#38aecc */

  /* @media screen and (min-width: 768px) {
    flex-direction: row;
  } */
}

.carousel-item-text {
  font-size: 1.15rem;
  padding-right: 0;
  width: 100%;
  text-align: start;
  color: var(--backgroundColour);
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  /* background-color: #8aea92; */
}

.NavBar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  background-color: #011627;
}

.sectionHeading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--headingColour);

}
.sectionsubHeading {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem;
  color: var(--headingColour);
}

.sectionList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

nav {
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: var(--headingColour);
  font-size: 1.5rem;
  font-weight: 600;
}

/* #projects,
#skills,
#contact{
 
} */

.relativeContainer {
  position: relative;
  margin: 10px auto;
  height: 100vh;
}

.headerOffset {
  position: relative;
  top: -100px;
  margin: 10px auto;
}

body {
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Indie Flower', cursive; */
  font-family: "Pangolin", cursive;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--backgroundColour);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--textColour3);
}

.name {
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
  color: var(--headingColour);
}

.jobTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--textColour);
}

.myImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.totalHomeSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.home {
  width: 90%;
  text-align: center;
  font-size: 1.3rem;
}

.aboutPara {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.3rem;
  text-align: center;
}

/* .myPhoto{
  background-color: #38aecc;
} */
.carousel-content {
  margin: 10px auto;
  padding-right: 0;
  max-width: 280px;
  width: 90%;
}

.carousel-button {
  font-family: "Pangolin", cursive;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: var(--textColour1);
}

.swiper {
  width: 80%;
}


@media screen and (min-width: 768px) {
  .NavBar {
    justify-content: flex-end;
  }
  .sectionHeading {
    font-size: 4rem;
  }

  .about-total{
    flex-direction: row;
    width: 80%;
    gap: 20px;
  }

  .skill{
    font-size: 2rem;
  }
  .carousel-item{
    flex-direction: column;
  }
  
  .carousel-item-xtitle {
    flex-direction: row;
  }
  .myImage{
    max-width: 500px;
    max-height: 500px;
  }
  .sectionsubHeading{
    font-size: 3rem;
  }
  .name{
    font-size: 5rem;
  }
  .home{
    font-size: 2rem;
    width: 100%;
  }
  .aboutPara{
    font-size: 2rem;
    width: 100%;
  }
}